body {
    color: #333;
    font-family: arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: #3a3a3a;
    background-color: lightgray;
    padding: 0.5rem;
    margin: 10px 0;
    border-radius: 10px;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #aaa;
    font-size: 13px;
    padding: 0 15px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}
